<footer class="text-black mt-4">
  <div class="container-fluid py-5 footer">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <h6 class="text-uppercase border-bottom border-black pb-1 mb-3">Know</h6>
        <ul class="list-unstyled small">
          <li><a href="{{ url_for('about') }}" class="text-black text-decoration-none hover-effect">About Us</a></li>
          <li>About Earthbubs Store</a></li>
          <li>Bulk Purchase &amp; Corporate Gifts</a></li>
        </ul>
      </div>
      <div class="col">
        <h6 class="text-uppercase border-bottom border-black pb-1 mb-3">Terms &amp; Conditions</h6>
        <ul class="list-unstyled small">
          <li>Shipping &amp; Return Policies</a></li>
          <li>Privacy Policy</a></li>
          <li>FAQ’s</a></li>
        </ul>
      </div>
      <div class="col">
        <h6 class="text-uppercase border-bottom border-black pb-1 mb-3">Contact Us</h6>
        <ul class="list-unstyled small">
          <li>For Sale: <a href="mailto:Earthbubs@co.in" class="text-black text-decoration-none hover-underline-effect">Earthbubs@co.in</a></li>
          <li>Call: <a href="tel:+911234567890" class="text-black text-decoration-none hover-underline-effect">+91 1234567890</a></li>
          <li>For Complaints: <a href="tel:18002022222" class="text-black text-decoration-none hover-underline-effect">1800 202 2222</a></li>
          <li>Chat Time: Our Team is Available<br>From Monday to Saturday from<br>9.00 AM to 8.00 PM</li>
          <li class="d-flex align-items-center gap-2 flex-wrap">
            For Complaints: Ebcustomercare.com
          </li>
        </ul>
      </div>
      <div class="col">
        <h6 class="text-uppercase border-bottom border-black pb-1 mb-3">Follow Us</h6>
        <div class="d-flex align-items-center gap-3 mt-3">
          <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" class="text-black fs-5 hover-effect"><i class="fab fa-instagram"></i></a>
          <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="text-black fs-5 hover-effect"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="text-black fs-5 hover-effect"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>

    <hr class="my-4 border-dark">

    <div class="text-center text-muted small">
      Copyright &copy; 2025 All Rights Reserved.
    </div>
  </div>
</footer>