@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
footer {
  background-color: #b0e4f4;
}
.footer ul > li {
  font-size: 15px !important;
}
.buybtn {
  background-color: #b0e4f4 !important;
  color: rgb(85, 82, 82) !important;
}

.custom-line-height {
  line-height: 1.9 !important;
  font-weight: 400;
}

.breadcrumb {
  --bs-breadcrumb-divider: ">";
}
.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider);
  padding: 0 0.5rem;
}

.breadcrumb-item {
  font-weight: 600 !important;
}
