body {
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
}

.signup-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #80d7e2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 1rem;
}

.btn-primary {
    width: 100%;
    background-color: #80d7e2 !important;
    outline: none !important;
    border: none !important;
}
